:root {
  --color-primary-light: #FFFFFF;
  --color-primary: #FFFFFF;
  --color-primary-dark: #FFFFFF;
  --color-secondary: #4DAD0E;
  --color-secondary-light: #0022D4;
  --color-secondary-dark: #A60303;
  --color-neutral-beige: #E3D511;
  --color-accent: #000000;
  --font-primary:"Alegreya Sans","Trebuchet Ms", Arial,sans-serif;
  --font-secondary: "source Code Pro", Menlo, Consolas, monospace;
}

html {
  font-family: var(--font-primary);
}

h1 {
  color: var(--color-primary-light);
  font-weight: 500;
}

h2 {
  color: var(--color-primary);
  font-weight: 500;
}

h3 {
  font-family: var(--font-secondary);
  color: var(--color-primary-light);
}

p {
  color: var(--color-primary-light);
}

ul {
  font-family: var(--font-secondary);
  color: var(--color-primary-light);
}

a {
  color: var(--color-secondary);
  transition: all .15s linear;
}

a:hover, a:focus {
  color: var(--color-neutral-beige);
}

mark {
  background-color: var(--color-primary-light);
}
