:root {
  --color-primary-light: #7A8FE5;
  --color-primary: #0022D4;
  --color-primary-dark: #051751;
  --color-secondary: #D90718;
  --color-neutral-beige: #E3D511;
  --color-accent: #824EC6;
  --color-white: #FFFFFF;
  --font-primary:"Alegreya Sans","Trebuchet Ms", Arial,sans-serif;
  --font-secondary: "source Code Pro", Menlo, Consolas, monospace;
}

html {
  font-family: var(--font-primary);
  background-color: var(--color-white);
}

h1 {
  color: var(--color-primary);
  font-weight: 500;
}

h2 {
  color: var(--color-primary-light);
  font-weight: 500;
}

p {
  color: var(--color-primary-light);
}

a {
  color: var(--color-primary);
  transition: all .15s linear;
}

a:hover, a:focus {
  color: var(--color-white);
}

mark {
  background-color: var(--color-white);
}
