form {
  background-color: var(--color-secondary-light);
}

.flag-optional {
  color: var(--color-secondary);
}

.is-validated input:invalid,
.is-validated input[type="checkbox"]:invalid + label::before {
  border-color: var(--color-secondary-dark);
}

.error-message {
  display: none;
  background-color: var(--color-primary-light);
  color: var(--color-secondary-dark);
}

.error-message-highlighted {
  background-color: var(--color-secondary-dark);
  color: var(--color-primary-dark);
}

.is-validated .error-message:first-child,
.is-validated input:invalid + .error-message,
.is-validated input:invalid + label + .error-message {
  display: block;
}

label {
  color: var(--color-primary-dark);
}

fieldset {
  border: 0;
}

legend {
  color: var(--color-primary-dark);
}

input, select {
  border-color: var(--color-neutral-beige);
}

.sidespace {
  padding-right: .5em;
}
