.btn {
  background-color: var(--color-black);
  border-color: var(--color-black);
  border-radius: 7px;
  color: var(--color-light-grey);
  transition: all .15s ease;
}

.btn-icon {
  margin-left: .5rem;
  margin-right: .1rem;
  transition: all .15s ease;
}

.btn:hover > .icon,
.btn:focus > .icon {
  color: var(--color-white);
  transform: scale(.8);
}

.buttonbglight {
  background-color: var(--color-primary-light);
}

.btnbgmedium {
  background-color: var(--color-primary-medium);
}

.btnbggrey {
  background-color: var(--color-light-grey);
}
