.cards {
  display: block;
  padding-top: 2em;
  padding-bottom: 2em;
}

img {
  width: 100%;
  display: block;
}

.img {
  max-width: 25em;
  display: inline-block;
  padding: 1em;
  vertical-align: middle;
}

.text {
  display: inline-block;
  max-width: 25em;
  text-align: left;
  vertical-align: middle;
  padding: 1em;
}
